* {
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

main {
  min-height: calc(100vh - 98px);
}

header {
  border-bottom: 1px solid rgb(218, 218, 218);
  box-shadow: 0 3px 5px rgb(218, 218, 218);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  width: 100%;
}

.navbar img {
  height: auto;
  width: 50px;
}

.navbar nav {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar nav a:hover {
  background-color: rgb(0, 166, 255);
  color: rgb(21, 21, 21);
}

.navbar nav a {
  background-color: rgb(21, 21, 21);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;

  transition: background-color 0.3s;
}

.navbar .home-button {
  font-size: 30px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.banner {
  padding: 75px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.banner h1 {
  margin: 0;
  font-size: 80px;
  text-align: center;
  line-height: 1.2;
}

.banner img {
  height: 500px;
  width: 500px;
  margin-top: 60px;
}

footer {
  padding: 40px 0;
  background-color: rgb(21, 21, 21);
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: rgb(0, 166, 255);
}

footer .quick-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-bottom: 40px;
}

footer .footer-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  border-top: 1px solid rgb(218, 218, 218);
  gap: 60px;
}
